{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>report map</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'mosquito/style.css' %}" />

</head>

<body>

<div id="Switcher" class="w3-dropdown-click">
  <button id="switcher_name" onclick="switcher()" class="w3-button">登革熱</button>
  <div id="switcher" class="w3-dropdown-content w3-bar-block w3-border">
    <button onclick="change_disease(1)" class="w3-bar-item w3-button">登革熱</button>
    <button onclick="change_disease(2)" class="w3-bar-item w3-button">流感</button>
    <button onclick="change_disease(3)" class="w3-bar-item w3-button">腸病毒</button>
  </div>
</div>
<div style="height: 600px;width: 1200px;" class="w3-display-middle">
<div id="mapid" ></div>
<div id="description" class="w3-sand w3-container ">
	<div style="margin-bottom: 10px">
	<div id="number_header" class="w3-container w3-pale-red"><p>累計登革熱人數</p></div>
	<div id="number" class="w3-container w3-white"><p style="text-align: center; margin: 10px auto"><span id="biggertext">45</span>人</p></div>
	</div>
	<div style="margin-bottom: 10px">
	<div id="area_header" class="w3-container w3-light-blue"><p>嚴重區域</p></div>
	<div id="area" class="w3-container w3-white"></div>
	</div>
	<div id="other_header" class="w3-container w3-cyan"><p>其他傳染病</p></div>
	<div id="other" class="w3-container w3-white"></div>
</div>

</div>
<script src="https://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>
<script type="text/javascript">
	var addressPoints = {
		"1":{{addressPoints1|safe}},
		"2":{{addressPoints2|safe}},
		"3":{{addressPoints3|safe}}
	}
</script>
<script type="text/javascript" src="{% static 'mosquito/map.js' %}"></script>

</body>
</html>